html,body{
    width: 100%;
    height: 100%;
    border: 0;
    word-wrap: break-word;
    /*word-wrap属性用来标明是否允许浏览器在单词内进行断句，这是为了防止当一个字符串太长而找不到它的自然断句点时产生溢出现象*/
    word-break: break-all;
    /*word-break属性用来标明怎么样进行单词内的断句*/
}
body,textarea,select,input,button{
    font-size: 12px;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    /*这个属性现在的一般用处是防止Iphone在竖屏转向横屏时放大文字*/
    /*（注意，就算viewport设置了maximum-scale=1.0 文字还是会放大的）*/
}
body,html,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,header,menu,section,p,input,td,th,ins{
    padding: 0;
    margin: 0;
}
div{
    display: block;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%;
}
.f-cb{}
.f-cb:after{
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
[hidefoucus]{
    outline: none;
}
a,a *,.f-hand, .f-hand *{
    cursor: pointer;
}
a:-webkit-any-link{
     color:-webkit-link;
     cursor: pointer;
     text-decoration: underline;
     text-decoration-line: underline;
     text-decoration-style: initial;
     text-decoration-color: initial;
 }
a{
    text-decoration: none;
    color:#333;
}
ul, menu, dir{
    display: block;
    list-style-type: disc;
    /*列的标记，是实心圆*/
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.m-nav li, .m-nav li span, .m-nav a, .m-nav a em{
    float: left;
    height: 70px;
    font-size: 14px;
}
.m-nav li.lst, .m-nav li.fst span{
    background: none;
}
li,s{
    list-style: none;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    /*匹配父类盒子的文字对齐方式*/
}
i,cite,em,var ,address,dfn{
    font-style: italic;
}
em,i{
    font-style: normal;
    text-align: left;
    font-size: inherit;
}

